.component {
  border: 1px solid #ccc;
}
.component > .component-clone {
  display: none;
}
.component .component-toolbar {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}
.component .component-toolbar .component-drag-block {
  flex: 1;
}
.component .component-drag-block {
  cursor: move;
  padding: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.component .component-drag-block .fa-arrows {
  color: #adadad;
}
.component .component-edit-toolbar {
  padding: 5px;
}
.component .component-edit-toolbar button {
  display: inline-block;
  margin-left: 3px;
  cursor: pointer;
}
.component .component-toolbar [data-expand] {
  display: none;
}
.component .component-toolbar [data-collapse] {
  display: inline-block;
}
.component.component-collapsed > .component-toolbar [data-expand] {
  display: inline-block;
}
.component.component-collapsed > .component-toolbar [data-collapse] {
  display: none;
}
.component .component-content {
  margin: 10px;
}
.component.component-collapsed > .component-content {
  display: none !important;
}
.component-clone {
  position: absolute;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
