.column-component > .component-content {
  min-height: 30px;
}
.column-component > .component-content > * {
  margin: 0 0 15px 0;
}
.column-component > .component-content > *:last-child {
  margin: 0;
}
