.row-component > .component-content {
  min-height: 30px;
  display: flex;
  flex-direction: row;
}
.row-component > .component-content > * {
  flex-grow: 1;
  margin: 0 15px 0 0;
}
.row-component > .component-content > *:last-child {
  margin: 0;
}
