.row-component > .component-content {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.row-component > .component-content > * {
  flex-grow: 1;
  margin: 0 15px 0 0;
}
.row-component > .component-content > *:last-child {
  margin: 0;
}
